#roomText {
  color: #000000;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.urRoom {
       width:200px; 
       height:200px; 
       background-image: url(../backgrounds/PlayerRoom.png);
 }