#roomText {
  color: #000000;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.Room {
  position: relative;
  text-align: center;
  color: white;
}

#roomText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  width: 100%;
  height: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}